<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

    <% @restaurants.each do |restaurant| %>
       <ul class="list-group">
        <li><%= restaurant.name %></li>
        <li><%= restaurant.address %></li>
        <li><%= restaurant.phone_number %></li>
        <li><%= restaurant.category %></li>
        <li><%= link_to 'Show', restaurant %></li>
        <li><%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
        <li><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </ul>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1>All restaurants</h1>
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <%= link_to restaurant.name, restaurant_path(restaurant) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Restaurant", new_restaurant_path, class: 'btn btn-primary' %>

    </div>
  </div>
</div>
